manifest {
  author = "Jeff Vierstra"
  mainScript = "main.nf"
  defaultBranch = "master"
  name = "genotyping-pipeline"
  description = "Genotyping pipeline from chromatin accessbility data"
  version = "0.1"
  nextflowVersion = "21.04.1"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]


profiles {
	Altius {
		// Run on SLURM and load the appropriate modules	
		process {
			executor = "slurm"
			memory = { 16.GB * task.attempt }
			cache = "deep"

			errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
			maxRetries = 3

			withLabel: gpu {
				queue = "gpu1"
				clusterOptions = "--gres=gpu:p100 --nodes=1"
				memory = 32.GB
				module = "cuda/10.1.243"
			}

    }
		
		executor {
			$slurm {
				queueSize = 400
			}
		}
    		
		// Logging
 		trace.enabled = true
		trace.file = "pipeline_trace.txt"
		timeline.enabled = true
		timeline.file = "pipeline_timeline.html"
		report.enabled = true
		report.file = "pipeline_report.html"
  	}
}
